<ejs-grid [dataSource]="tableData">
  <e-columns>
    <e-column field="foodName" headerText="Name" width=100></e-column>
    <e-column field="kcal" headerText="Kcal" width=60></e-column>
    <e-column field="carbs" headerText="Carbs" textAlign="Left" width=60></e-column>
    <e-column field="sugars" headerText="Sugar" textAlign="Left" width=60></e-column>
    <e-column field="fats" headerText="Fat" textAlign="Left" width=60></e-column>
    <e-column field="satFats" headerText="Saturated Fats" textAlign="Left" width=60></e-column>
    <e-column field="proteins" headerText="Protein" textAlign="Left" width=60></e-column>
    <e-column field="fibers" headerText="Fiber" textAlign="Left" width=60></e-column>
  </e-columns>
</ejs-grid>
